 .content {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  
  }
  /* Form submission css */
  input, textarea {
      display:flex;
      width: 200px;
      border :2px solid black;
     
  }
  /* Form submission css */
  label {
    font-family: sans-serif;
    font-weight: bolder;
    color:white;
  }
  
/* submit button */
  .button {
    font-weight: bold;
    border-radius: 2rem;
    margin-top:10px;
    width: 100%;
} 

.section {
    width: 100%;
    border: 5px solid black;
}
/* dark mode JS */
.dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe;
   
  }
  
  
   /*Light Mode JS */
 .light {
    background-color: #f0ead6;
    color: black;
    height: 100vh;
  } 
